<?xml version="1.0" ?>
<launch>

    <node name="Follower" pkg="line_tracking" type="line_follower.py" output="screen" launch-prefix="gnome-terminal --command"/>
    <node name="Listener" pkg="line_tracking" type="listener.py" output="screen" launch-prefix="gnome-terminal --command"/>
    <node name="controller" pkg="line_tracking" type="controller.py" output="screen" launch-prefix="gnome-terminal --command"/>

</launch>