<?xml version="1.0" ?>
<launch>

    <rosparam file = "$(find challengeFinal)/config/control_params.yaml" command = "load"  />

    <node name="set_point_generator" pkg="robot_control" type="set_point_generator.py" output="screen" launch-prefix="gnome-terminal --command"/>
    <node name="controller" pkg="robot_control" type="controller.py" output="screen" launch-prefix="gnome-terminal --command"/>

</launch>